<div>
  <!-- Left Sidebar Area -->
  <div class='row1' style="color: #FFFFFF;">
    a
  </div>

  <!-- Main Content Area -->
  <div class='row2'>
    <div style="float: left;width: 20%;">
      <mat-sidenav-container class="example-container">
        <mat-sidenav-content >


          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Home</p>
          </div>

          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Pixel</p>
          </div>

          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Campaign</p>
          </div>

          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Invoice</p>
          </div>

          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Live Support</p>
          </div>

          <div class="side-nav-content">
            <mat-icon class="side-nav-icon">home</mat-icon>
            <p class="side-nav-item"> Logout</p>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div class="column2" style="width: 75%;">

      <p class="heading1">Influencer Discovery</p>

      <p style="font-size: 15px;color: #707070;">Find influencers on Instagram or Youtube</p>

      <mat-divider style="border:0.005px solid #502EFF;margin-top: 20px;opacity: 0.5;width: 75%;"></mat-divider>

      <div fxLayout="row wrap">
        <button class="item" style="width: 180px;background: #502EFF;">
          <div fxLayout>
            <div style="text-align: center;">
              <mat-icon class="social-icon" style="color: #FFFFFF;">home</mat-icon>
            </div>
            <div class="social-item-name" style="color: #FFFFFF;">Instagram</div>
          </div>
        </button>

        <button class="item" style="width: 180px;">
          <div fxLayout>
            <div style="text-align: center;">
              <mat-icon class="social-icon">home</mat-icon>
            </div>
            <div class="social-item-name">Facebook</div>
          </div>
        </button>

        <button class="item" style="width: 180px;">
          <div fxLayout>
            <div style="text-align: center;">
              <mat-icon class="social-icon">home</mat-icon>
            </div>
            <div class="social-item-name">Twitter</div>
          </div>
        </button>

        <button class="item" style="width: 180px;">
          <div fxLayout>
            <div style="text-align: center;">
              <mat-icon class="social-icon">home</mat-icon>
            </div>
            <div class="social-item-name">Youtube</div>
          </div>
        </button>
      </div>
      <p style="font-size: 18px;color: #2C2C2C;margin-top: 20px;">Influencer Information</p>

      <div fxLayout="row wrap">
        <div style="margin-top: 10px;">
          <p>Location</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option value="primary">Location A</mat-option>
              <mat-option value="accent">LOcation B</mat-option>
              <mat-option value="warn">Location c</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="margin-top: 10px;">
          <p>Followers</p>
          <mat-form-field appearance="fill" class="item-filter" style="width:100px">
            <mat-label>From</mat-label>
            <mat-select>
              <mat-option value="primary">Location A</mat-option>
              <mat-option value="accent">LOcation B</mat-option>
              <mat-option value="warn">Location c</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="item-filter" style="width: 100px;">
            <mat-label>To</mat-label>
            <mat-select>
              <mat-option value="primary">Location A</mat-option>
              <mat-option value="accent">LOcation B</mat-option>
              <mat-option value="warn">Location c</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-top: 10px;">
          <p>Interests</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option value="primary">Location A</mat-option>
              <mat-option value="accent">LOcation B</mat-option>
              <mat-option value="warn">Location c</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-top: 10px;">
          <p>Language</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Language</mat-label>
            <mat-select>
              <mat-option value="primary">English</mat-option>
              <mat-option value="accent">Hindi</mat-option>
              <mat-option value="warn">Language </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-top: 10px;">
          <p>Engagement Rate</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Engagement Rate</mat-label>
            <mat-select>
              <mat-option value="primary">Rate A</mat-option>
              <mat-option value="accent">Rate B</mat-option>
              <mat-option value="warn">Rate c</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="margin-top: 10px;">
          <p>Gender</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Gender</mat-label>
            <mat-select>
              <mat-option value="primary">Male </mat-option>
              <mat-option value="accent">Female </mat-option>
              <mat-option value="warn">Other </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-top: 10px;">
          <p>Age</p>
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Enter Age</mat-label>
            <mat-select>
              <mat-option value="primary">Location A</mat-option>
              <mat-option value="accent">LOcation B</mat-option>
              <mat-option value="warn">Location c</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout>
        <div>
          <button class="find" mat-raised-button color="primary"
            style="width: 220px; margin-top: 30px;margin-right: 15px;height: 45px;">Find Influencers</button>
        </div>
        <div>
          <button class="reset" mat-raised-button color="primary"
            style="width: 220px; margin-top: 30px;margin-right: 15px;height: 45px;background-color: #FFFFFF;color: #502EFF;">Reset
            Filters</button>

        </div>
      </div>

      <div fxLayout style="margin-top: 100px;">
        <div style="margin-top: 18px;font-size:medium ;">Sort:</div>
        <div style="margin-left: 10px;">
          <mat-form-field appearance="fill" class="item-filter">
            <mat-label>Sort results by</mat-label>
            <mat-select>
              <mat-option value="primary">Range</mat-option>
              <mat-option value="accent">Name</mat-option>
              <mat-option value="warn">Rate </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout style="width: 80%;margin-top: 20px;">
        <div class="table-head">29,324 influencers found</div>
        <div class="table-head">Follower Range</div>
        <div class="table-head">Engagement Rate</div>
        <div style="text-align: left;
        font: normal normal medium 17px/26px Poppins;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;">Previous </div>
        <div style="text-align: left;font: normal normal medium 18px/27px Poppins;letter-spacing: 0px;color: #502EFF;opacity: 1;margin-left: 10px;">Next</div>

      </div>

      <mat-card class="influencer-card" style="width: 80%;height: 40px;margin-top: 20px;"
        *ngFor="let item of [].constructor(8); let i = index">
        <div fxLayout>
          <div>
            <img style="height: 50px; width:50px;opacity: 0.9;" class="circle_profile"
              src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
          </div>

          <div style="margin-left:15px">
            <div fxLayout="column">
              <p
                style="margin-bottom: 0.2px; text-align: left;font: normal normal bold 18px/25px Poppins;letter-spacing: 0px;color: #2C2C2C;opacity: 1;">
                Ashley Robertson</p>
              <p
                style="text-align: left; font: normal normal medium 13px/22px Poppins;letter-spacing: 0px;color: #502EFF;opacity: 1;">
                @ashley_robertson</p>
            </div>

          </div>

          <div style="margin-left:70px">
            <div fxLayout="column">
              <p
                style="margin-bottom: 0.2px; text-align: left;font: normal normal bold 18px/25px Poppins;letter-spacing: 0px;color: #2C2C2C;opacity: 0.9;">
                375.1 M</p>
              <p
                style="text-align: left; font: normal normal medium 13px/22px Poppins;letter-spacing: 0px;color: #969494;opacity: 1;">
                Followers</p>
            </div>
          </div>

          <div style="margin-left:120px">
            <p
              style="margin-bottom: 0.2px; text-align: left;font: normal normal bold 18px/25px Poppins;letter-spacing: 0px;color: #2C2C2C;opacity: 0.9;">
              5902K (0.16%)</p>
          </div>

          <div style="margin-left: 100px;">
            <button class="find" mat-raised-button color="primary" style="height: 45px;width: 180px;" [matMenuTriggerFor]="belowMenu">Add to
              campaign</button>
          </div>

          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu> 


        </div>
      </mat-card>
      <div style="width: 80%;margin-top: 10px;">
        <div fxLayout style="float: right;">
          <div style="font: normal normal medium 17px/26px Poppins;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;">Previous </div>
          <div style="font: normal normal medium 18px/27px Poppins;letter-spacing: 0px;color: #502EFF;opacity: 1;margin-left: 10px;">Next</div>
          <div class="mat-expansion-indicator " style=" float: left;width: 30%; text-align: right;"></div>
  
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="row">
  <div class="row">
  <div class="column">
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
</div>
</div>

  </div>
</div>
>
    <mat-sidenav-container class="example-container">
      <mat-sidenav-content >
        <p>height</p>
        <p><button mat-button >Toggle</button></p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->